<table class="table table-bordered table-hover" id="issue-list">
  <% @issues.each do |issue| %>
    <tr id="<%= issue.id %>">
      <td class="col-md-2">
        <img src="<%= issue.image %>"/>
      </td>
      <td class="col-md-10">
        <strong> <%= issue.category.to_s.capitalize %> </strong>
        <br>
        <%= issue.description %>
        <br>
        <em style="float: right;"> <%= issue.created_at.strftime("%y-%m-%d") %> </em>
        <div class="buttons">
          <br>
          <%= link_to "Fix!", issue_path(issue, params: {issue: {state: 2}}),
                {method: :put, class: "btn-default btn-success btn-sm #{(issue.fixed? ? 'disabled' : '' )}",
                  role: 'button'} %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
