<table class="table table-bordered table-hover" id="issue-list">
  <% @issues.each do |issue| %>
    <tr id="<%= issue.id %>">
      <td>
        <span class="state <%= issue.state %>">< <%= issue.category.capitalize %></span>
      </td>
      <td class="col-md-6"> <%= truncate issue.description, length: 30 %></td>
      <td> <%= issue.created_at.strftime("%y-%m-%d") %>
    </tr>
  <% end %>
</table>
