<h1>Issues</h1>
<div class="col-md-7" id="map-container">
  <div id="map-canvas"></div>
</div>
<div class="col-md-5">
<%= render 'list' %>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqz5pjoBwTK_p-nQ7g3xBSHGD7RWl0jJE&sensor=false"></script>
<%= javascript_tag do %>
  $( document ).ready(function() {
    var map = new google.maps.Map($('#map-container')[0], {
      zoom: 16,
      center: new google.maps.LatLng(<%= @recent_issue.latitude || 48.8566 %>, <%= @recent_issue.longitude || 2.3522 %>),
      mapTypeId: google.maps.MapTypeId.MAP
    });

    var infowindow = new google.maps.InfoWindow();

    <% @issues.each do |issue| %>
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= issue.latitude %>, <%= issue.longitude %>),
        map: map
      });

      var contentString = '<div id="content">'+
            '<h3><%= issue.category.to_s.capitalize %></h3>'+
            '<span class="label label-default"><%= issue.state.humanize %></span> <br>'+
            '<div id="bodyContent">'+
            '<div class="issuePic">'+
            '<img src="<%= issue.image %>"/>' +
            '</div>'+
            '<p><%= issue.category %>' +
            '</p>'+
            '<span class="date">Created at <%= issue.created_at.strftime("%y-%m-%d") %>' +
            '</span>'+
            '</div>'+
            '</div>';

      var infowindow = new google.maps.InfoWindow({
                         content: contentString
                      });
      issueTr=$("#issue-list").find("#<%= issue.id %>");
      marker.addListener('click', function() {
               infowindow.open(map, marker);
              $(issueTr).addClass('highlight');
              $(issueTr).find(".buttons").show();
             });
      $(issueTr).click(function() {
               infowindow.open(map, marker);
              $(issueTr).addClass('highlight');
              $(issueTr).find(".buttons").show();
             });
       infowindow.addListener('closeclick',function(){
          $(issueTr).removeClass('highlight');
          $(".buttons").hide();
       });
    <% end %>
  });
<% end -%>
